#blobs{
  position: absolute;
  margin: 0 auto;
  width: 1530px;
  background-size: cover;
}
.blob,.blob-2,.blob-3,.blob-4,.blob-5,.blob-6,.blob-7,.blob-8,.blob-9 ,.blob-10,.blob-11,.blob-12{
  flex-shrink: 0;
  position: absolute;
 
  z-index: -1;
  filter: blur(15.150001525878906px);
 
  z-index: -100;
  }
  .blob{
    width: 1300px;

    fill: #FFD3C5;

    top: -100px;
    left: -383px;
  }
  .blob-2{
    top: -315px;
    left: 750px;

    width: 1200px;
  
    float: right;
    fill:#B8BEF6;
  }.blob-3{
    top: -282px;
    left: -564px;

    width: 1380px;
  
    float: right;
    fill:#B8BEF6;
  }
  .blob-4{
    top: -282px;
    left: 664px;

    width: 1440px;
  
    float: right;
    fill:#FFD3C5;
  }
  .blob-5{
    top: -350px;
    left: -550px;

    width: 1600px;
  
    float: right;
    fill:#FFD3C5;
  }
  .blob-6{
    top: -724px;
    left: 664px;

    width: 1440px;
  
    float: right;
    fill:#B8BEF6;
  }
  .blob-7{
    top: -1125px;
    left: -840px;

    width: 1600px;
  
    float: right;
    fill:#FFD3C5;
  }
  .blob-8{
    top: -1725px;
    left: -701px;

    width: 1600px;
  
    float: right;
    fill:#FFD3C5;
  }
  .blob-9{
    top: -1500px;
    left: -445px;

    width: 4461px;
    height: 0;
  
    float: right;
    fill:#FFD3C5;
  }
  .blob-9>svg{
    height: 2594px;
  }
  .blob-10{
    top: -270px;
    left: -496px;

    width: 2861px;
    height: 0;
  
    float: right;
    fill:#FFD3C5;
  }
  .blob-11{
    top: -270px;
    left: -2796px;

    width: 4861px;
    height: 0;
  
    float: right;
    fill:#FFD3C5;
  }
  .blob-12{
    top: 3535px;
    left: -2257px;

    width: 6861px;
    height: 0;
  
    float: right;
    fill:#FFD3C5;
  }


